body {
	font-family: 'Cinzel Decorative', cursive;
}

h1 {
	font-weight: bold;
	color: #fe019a;
	margin-left: 78px;
	font-size: 35px;
	float: left;
}

header {
	background-color: black;
	
}

nav {
	float: right;
	margin-top: 20px;
	margin-right: 50px;

}
.dropdown-content {
	font-weight: bold;
	background-color: black;
	color: pink;
}

.nav-items {
	font-weight: bold;
	margin-right: 20px;
}

.nav-item {
	display: inline-block;
	margin: 0 10px 5px;
	margin-bottom: 5px;
}

.nav-item a:hover {
	color: #fe019a;
}

.nav-item a {
	color: white;
}

.hero-image {
	background: black;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 100%;
 	text-align: center;
}